<%= form_for([@profile, @order]) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pickUpTime %><br>
    <%= f.time_select :pickUpTime %>
  </div>
  <div class="field">
    <%= f.label :totalPrice %><br>
    <%= f.text_field :totalPrice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
